<!-- HEADER -->
<header>
  <div class="nav-container">

    <!-- Profile + Brand -->
    <div class="brand-section">
      <img src="/assets/images/profile1.jpg" alt="Profile photo" class="profile-pic">
      <div class="brand-text">
        <div class="name">PEDRO ALFONZO</div>
        <div class="tagline">Geoscience • Geophysics • Analytics</div>
      </div>
    </div>

    <!-- Navigation -->
    <nav>
      <a href="/">Home</a>
      
      <!-- Geoscience Dropdown --> 
       <div class="dropdown"> 
        <button class="dropbtn" title="Explore my geoscience background and field experience">Geoscience Background▼</button> 
        <div class="dropdown-content"> 
          <a href="/geoscience-background/geophysics/">Geophysics</a> 
          <a href="/geoscience-background/geology/">Geology</a> 
          <a class="disabled-link">Field Operations</a> 
        </div> 
      </div>

      <!-- Case Studies (Project) Dropdown -->
      <div class="dropdown">
        <button class="dropbtn"
                title="Explore applied case studies demonstrating my geoscience and analytics approach."
                onclick="window.location.href='/case-studies/';">
          Case Studies ▼ <span class="badge new">NEW</span>
        </button>

        <div class="dropdown-content">
          <a href="/case-studies/applied-geophysics/">
            Applied Geophysics <span class="badge soon">Soon</span>
          </a>
          <a href="/case-studies/integrated-geology/">
            Integrated Geology<span class="badge updated">Updated</span>
          </a>
          <a class="disabled-link">Operational Excellence</a>
          <!-- <a href="/projects/automation/">Automation</a>  Disable for now-->
        </div>
      </div>

      <!-- Other Interests Dropdown -->
      <div class="dropdown">
        <button class="dropbtn" title="Life Outside Work">Other Interests ▼</button>
        <div class="dropdown-content">
          <a href="/other-interests/farm/">Farm Plans</a>
          <a class="disabled-link">Hobbies</a>  <!-- OPTION B (badge):  <a class="disabled-link">Hobbies <span class="badge soon">Soon</span></a> -->
        </div>
      </div>

    </nav>
  </div>
  
  <div class="top-contact-bar">
    <div class="contact-inner">
      <div class="top-tagline"> 
        Improving productivity by combining domain expertise with modern tools. 
      </div>
      <div class="top-links">
        <a href="/about/"><i class="fa-solid fa-user"></i> About Me</a>
        <a href="/assets/cv/Pedro-Alfonzo-CV-2025.pdf" target="_blank"> <i class="fa-solid fa-file-pdf"></i> CV</a>
        <a href="https://www.linkedin.com/in/pedroalfonzoroque" target="_blank"> <i class="fa-brands fa-linkedin"></i>LinkedIn</a>
        <a href="mailto:pedroalfonzo@gmail.com"> <i class="fa-solid fa-envelope"></i>Email</a>
      </div>
    </div>
   </div>
</header>
