.video-container {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 ratio */
    height: 0;
    overflow: hidden;
    margin: 20px 0;
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.seismogram-container canvas {
  width: 100% !important;
  height: auto !important;
  display: block;
}

.seismogram-container {
  width: 100%;
}

.level2-image {
  max-width: 900px;
  margin: 0 auto;
}

