/* Video */
.video-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  margin: 20px 0;
}

.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* Seismogram */
.seismogram-container {
  width: 100%;
}

.seismogram-container canvas {
  width: 100% !important;
  height: 350px !important;   /* <-- THIS FIXES THE PROBLEM */
  display: block;
}


/* Level 2 image */
.level2-image {
  max-width: 900px;
  width: 100%;
  height: auto;
  display: block;
  margin: 20px auto;
}

